# Introduction

## Purpose of this Notebook
This notebook shows a comparison between two Vector Databases, `Qdrant` and `Milvus` based on the benchmarking repository [vector-db-benchmark](https://github.com/qdrant/vector-db-benchmark).
- The main section contains a comparison of the two DataBases based on the benchmarking of some big datasets.
- Another section illustrates the performance differencies between filtered and regular vector search using the corresponding datasets with and without filters.

## Datasets
The datasets benchmarked for the comparison are listed here. They are a subset of [datasets.json](https://github.com/qdrant/vector-db-benchmark/blob/master/datasets/datasets.json)

**random-100-euclidean**
- Size: 218 KB
- vectors.jsonl , queries.jsonl , neighbours.jsonl
- distance: l2
  
**glove-25-angular**
- Size: 121 MB
- HDF5 file 
- distance: cosine

**glove-100-angular**
- Size: 462 MB
- HDF5 file
- distance: cosine
  
**random-match-keyword-100-angular-no-filters**
- Size: 404 MB
- vectors.npy , tests.jsonl
- distance: cosine

**random-match-keyword-100-angular-filters** 
- Size: 434 MB
- vectors.npy , tests.jsonl, payloads.jsonl
- distance: cosine

**h-and-m-2048-angular-no-filters**
- Size: 1.23 GB
- vectors.npy , tests.jsonl
- distance: cosine
  
**h-and-m-2048-angular-filters**
- Size: 1.29 GB
- vectors.npy , tests.jsonl , payloads.jsonl , filters.jsonl
- distance: cosine

**gist-960-euclidean** 
- Size: 3.58 GB
- HDF5 file
- distance: l2

**laion-small-clip**
- Size: 195 MB
- vectors.npy , tests.jsonl, payloads.jsonl
- distance: cosine

**dbpedia-openai-1M-1536-angular** 
- Size: 5.74 GB
- vectors.npy , tests.jsonl
- distance: cosine

**deep-image-96-angular**
- Size: 3.58 GB
- HDF5 file
- distance: cosine

In [129]:
tested_datasets = [
	# "random-100-euclidean", 
	# "glove-25-angular",
    "glove-100-angular",
	"random-match-keyword-100-angular-no-filters",
	# "random-match-keyword-100-angular-filters", 
	"h-and-m-2048-angular-no-filters",
	# "h-and-m-2048-angular-filters",
	"gist-960-euclidean",
	# "laion-small-clip",
	# "dbpedia-openai-1M-1536-angular",
    # "deep-image-96-angular"
]

fil_datasets = [
	# "random-match-keyword-100-angular-no-filters",
	# "random-match-keyword-100-angular-filters", 
	# "h-and-m-2048-angular-no-filters",
	# "h-and-m-2048-angular-filters",
]

## Results CSV Load

In [130]:
from IPython.display import display
import pandas as pd
from sqlite3 import connect
conn = connect(':memory:')

tested_upload_df = pd.read_csv("upload_results_24_Jan_2025.csv")
tested_search_df = pd.read_csv("search_results_24_Jan_2025.csv")

# drop unused dataset_size column
tested_upload_df = tested_upload_df.drop(columns=['dataset_size'])
tested_search_df = tested_search_df.drop(columns=['dataset_size'])
# add index time column for upload info
tested_upload_df['qdrant_index_time'] = ( tested_upload_df['qdrant_total_time'] - tested_upload_df['qdrant_upload_time'] )
tested_upload_df['milvus_index_time'] = ( tested_upload_df['milvus_total_time'] - tested_upload_df['milvus_upload_time'] )
# drop rows with ef_search = 64 (it is available only in Qdrant, not in Milvus)
tested_search_df = tested_search_df[tested_search_df["ef_search"] != 64]
# add a config column for search dfs
tested_search_df['config'] = (
    'm-' + tested_search_df['m'].astype(str) + 
    '-ef-' + tested_search_df['ef_search'].astype(str) +
    '-parallel-' + tested_search_df['parallel_search'].astype(str) +
    '-ef-search-' + tested_search_df['ef_search'].astype(str)
)

# separate tables for Qdrant and Milvus
qdrant_upload_df = tested_upload_df.drop(columns=[col for col in tested_upload_df.columns if 'milvus' in col])
milvus_upload_df = tested_upload_df.drop(columns=[col for col in tested_upload_df.columns if 'qdrant' in col])
qdrant_search_df = tested_search_df.drop(columns=[col for col in tested_search_df.columns if 'milvus' in col])
milvus_search_df = tested_search_df.drop(columns=[col for col in tested_search_df.columns if 'qdrant' in col])

# add rounded mean precisions column for each DB and config description column
qdrant_search_df['mean_precisions_rounded'] = qdrant_search_df['qdrant_mean_precisions'].round(2)
milvus_search_df['mean_precisions_rounded'] = milvus_search_df['milvus_mean_precisions'].round(2)

# Register as SQL tables
tested_upload_df.to_sql(name='tested_upload_df', con=conn)
tested_search_df.to_sql(name='tested_search_df', con=conn)

In [131]:
tested_upload_df.head(2)

,m,ef_construct,dataset,qdrant_upload_time,milvus_upload_time,qdrant_total_time,milvus_total_time,qdrant_index_time,milvus_index_time
0,16,128,gist-960-euclidean,180.069424,198.857859,590.885089,1148.785398,410.815665,949.927539
1,16,128,glove-100-angular,126.881057,126.880983,277.223096,402.612144,150.342039,275.731161

In [132]:
tested_search_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 324 entries, 0 to 422
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   m                       324 non-null    int64
 1   ef_construct            324 non-null    int64
 2   parallel_search         324 non-null    int64
 3   ef_search               324 non-null    int64
 4   dataset                 324 non-null    object
 5   qdrant_total_time       324 non-null    float64
 6   milvus_total_time       324 non-null    float64
 7   qdrant_mean_time        324 non-null    float64
 8   milvus_mean_time        324 non-null    float64
 9   qdrant_mean_precisions  324 non-null    float64
 10  milvus_mean_precisions  324 non-null    float64
 11  qdrant_std_time         324 non-null    float64
 12  milvus_std_time         324 non-null    float64
 13  qdrant_min_time         324 non-null    float64
 14  milvus_min_time         324 non-null    float64
 15  qdrant_max_time         324 non-null    float64
 16  milvus_max_time         324 non-null    float64
 17  qdrant_rps              324 non-null    float64
 18  milvus_rps              324 non-null    float64
 19  qdrant_p95_time         324 non-null    float64
 20  milvus_p95_time         324 non-null    float64
 21  qdrant_p99_time         324 non-null    float64
 22  milvus_p99_time         324 non-null    float64
 23  config                  324 non-null    object
dtypes: float64(18), int64(4), object(2)
memory usage: 63.3+ KB

In [133]:
qdrant_upload_df.head(2)

,m,ef_construct,dataset,qdrant_upload_time,qdrant_total_time,qdrant_index_time
0,16,128,gist-960-euclidean,180.069424,590.885089,410.815665
1,16,128,glove-100-angular,126.881057,277.223096,150.342039

In [134]:
milvus_upload_df.head(2)

,m,ef_construct,dataset,milvus_upload_time,milvus_total_time,milvus_index_time
0,16,128,gist-960-euclidean,198.857859,1148.785398,949.927539
1,16,128,glove-100-angular,126.880983,402.612144,275.731161

In [135]:
qdrant_search_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 324 entries, 0 to 422
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   m                        324 non-null    int64
 1   ef_construct             324 non-null    int64
 2   parallel_search          324 non-null    int64
 3   ef_search                324 non-null    int64
 4   dataset                  324 non-null    object
 5   qdrant_total_time        324 non-null    float64
 6   qdrant_mean_time         324 non-null    float64
 7   qdrant_mean_precisions   324 non-null    float64
 8   qdrant_std_time          324 non-null    float64
 9   qdrant_min_time          324 non-null    float64
 10  qdrant_max_time          324 non-null    float64
 11  qdrant_rps               324 non-null    float64
 12  qdrant_p95_time          324 non-null    float64
 13  qdrant_p99_time          324 non-null    float64
 14  config                   324 non-null    object
 15  mean_precisions_rounded  324 non-null    float64
dtypes: float64(10), int64(4), object(2)
memory usage: 43.0+ KB

In [136]:
milvus_search_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 324 entries, 0 to 422
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   m                        324 non-null    int64
 1   ef_construct             324 non-null    int64
 2   parallel_search          324 non-null    int64
 3   ef_search                324 non-null    int64
 4   dataset                  324 non-null    object
 5   milvus_total_time        324 non-null    float64
 6   milvus_mean_time         324 non-null    float64
 7   milvus_mean_precisions   324 non-null    float64
 8   milvus_std_time          324 non-null    float64
 9   milvus_min_time          324 non-null    float64
 10  milvus_max_time          324 non-null    float64
 11  milvus_rps               324 non-null    float64
 12  milvus_p95_time          324 non-null    float64
 13  milvus_p99_time          324 non-null    float64
 14  config                   324 non-null    object
 15  mean_precisions_rounded  324 non-null    float64
dtypes: float64(10), int64(4), object(2)
memory usage: 43.0+ KB

In [137]:
merged_df = pd.merge(
    qdrant_search_df,                  # Left DataFrame
    milvus_search_df,                  # Right DataFrame
    left_on=['mean_precisions_rounded', 'dataset'],  # Keys in left DataFrame
    right_on=['mean_precisions_rounded', 'dataset'], # Keys in right DataFrame
    how='inner',                       # Type of join
    suffixes=('_qdrant', '_milvus')    # Custom suffixes for overlapping columns
)

# Sorting by 'dataset_name' (ascending) and 'metric_milvus' (descending)
merged_df = merged_df.sort_values(
    by=['dataset', 'mean_precisions_rounded'], 
    ascending=[True, False]  # Ascending for dataset_name, Descending for metric_milvus
)

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4940 entries, 4824 to 4619
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   m_qdrant                 4940 non-null   int64
 1   ef_construct_qdrant      4940 non-null   int64
 2   parallel_search_qdrant   4940 non-null   int64
 3   ef_search_qdrant         4940 non-null   int64
 4   dataset                  4940 non-null   object
 5   qdrant_total_time        4940 non-null   float64
 6   qdrant_mean_time         4940 non-null   float64
 7   qdrant_mean_precisions   4940 non-null   float64
 8   qdrant_std_time          4940 non-null   float64
 9   qdrant_min_time          4940 non-null   float64
 10  qdrant_max_time          4940 non-null   float64
 11  qdrant_rps               4940 non-null   float64
 12  qdrant_p95_time          4940 non-null   float64
 13  qdrant_p99_time          4940 non-null   float64
 14  config_qdrant            4940 non-null   object
 15  mean_precisions_rounded  4940 non-null   float64
 16  m_milvus                 4940 non-null   int64
 17  ef_construct_milvus      4940 non-null   int64
 18  parallel_search_milvus   4940 non-null   int64
 19  ef_search_milvus         4940 non-null   int64
 20  milvus_total_time        4940 non-null   float64
 21  milvus_mean_time         4940 non-null   float64
 22  milvus_mean_precisions   4940 non-null   float64
 23  milvus_std_time          4940 non-null   float64
 24  milvus_min_time          4940 non-null   float64
 25  milvus_max_time          4940 non-null   float64
 26  milvus_rps               4940 non-null   float64
 27  milvus_p95_time          4940 non-null   float64
 28  milvus_p99_time          4940 non-null   float64
 29  config_milvus            4940 non-null   object
dtypes: float64(19), int64(8), object(3)
memory usage: 1.2+ MB

## Utils

In [138]:
class Query:
    def __init__(self, select_columns: str = "*", where_condition: str = "true", description = None):
        self.columns : str = select_columns
        self.condition : str = where_condition
        self.description : str = description if description else self.condition

In [139]:
def print_h2(text: str):
    delimiter = 100*"*"
    line_text = f" {text} "
    half_delimiter = ( (len(delimiter) - len(line_text))//2 ) * "*"
    print("\n")
    print(half_delimiter + line_text + half_delimiter)
    print()
    
def print_h1(value: str, title: str = "Dataset"):
    delimiter = 100*"*"
    line_text = f" {title}: {value} "
    half_delimiter = ( (len(delimiter) - len(line_text))//2 ) * "*"
    print("\n")
    print(delimiter)
    print(half_delimiter + line_text + half_delimiter)
    print(delimiter)

## Filter results based on condition

In [140]:
def results_on_condition(q: Query, selected_datasets: list):
    for dataset in selected_datasets:
        print_h1(dataset)
        print_h2(q.description)
        display(pd.read_sql(f"select {q.columns} from tested_search_df where {q.condition} and dataset='{dataset}'", con=conn))

In [141]:
search_default_select_columns = "m, ef_construct, parallel_search, ef_search, qdrant_total_time, milvus_total_time, qdrant_mean_precisions, milvus_mean_precisions"
# filter results so that mean_precisions percentage of Qdrant and Milvus (with same m, ef, ef_search configs) is closer than 1%
precision_threshold = 0.01 
query_list = [ \
    # Query(select_columns = search_default_select_columns, where_condition = "qdrant_total_time < milvus_total_time"), \
    Query(select_columns = search_default_select_columns, where_condition = f"qdrant_mean_precisions - milvus_mean_precisions < {precision_threshold} and \
                                                                                qdrant_mean_precisions - milvus_mean_precisions > -{precision_threshold}", \
                                                                                description = f"precisions between {precision_threshold} threshold"), \
]
for q in query_list:
    results_on_condition(q,tested_datasets)

****************************************************************************************************
************************************ Dataset: glove-100-angular ************************************
****************************************************************************************************


******************************** precisions between 0.01 threshold ********************************

Empty DataFrame
Columns: [m, ef_construct, parallel_search, ef_search, qdrant_total_time, milvus_total_time, qdrant_mean_precisions, milvus_mean_precisions]
Index: []

****************************************************************************************************
*********************** Dataset: random-match-keyword-100-angular-no-filters ***********************
****************************************************************************************************


******************************** precisions between 0.01 threshold ********************************

,m,ef_construct,parallel_search,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_precisions,milvus_mean_precisions
0,64,512,1,512,117.443732,97.927966,0.9994,0.99156
1,64,512,100,512,98.404297,42.804713,0.9994,0.99156

****************************************************************************************************
***************************** Dataset: h-and-m-2048-angular-no-filters *****************************
****************************************************************************************************


******************************** precisions between 0.01 threshold ********************************

,m,ef_construct,parallel_search,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_precisions,milvus_mean_precisions
0,16,128,1,128,54.078531,77.556569,0.99941,0.99915
1,16,128,1,256,65.203710,79.762774,0.99971,0.99926
2,16,128,1,512,84.281343,100.473559,0.99976,0.99945
3,16,128,100,128,26.737228,19.423637,0.99941,0.99819
4,16,128,100,256,36.675307,21.551324,0.99971,0.99914
5,16,128,100,512,54.897648,24.656901,0.99976,0.99937
6,32,128,1,128,55.923913,68.290376,0.99940,0.99914
7,32,128,1,256,66.869194,109.448547,0.99962,0.99950
8,32,128,1,512,88.057550,61.048402,0.99971,0.99958
9,32,128,100,128,29.654456,19.780167,0.99940,0.99883
10,32,128,100,256,39.760404,21.544593,0.99962,0.99930
11,32,128,100,512,59.483923,24.725372,0.99971,0.99958
12,32,256,1,128,58.529722,105.231544,0.99973,0.99948
13,32,256,1,256,71.773530,85.638192,0.99976,0.99961
14,32,256,1,512,92.206738,140.071689,0.99977,0.99973
15,32,256,100,128,31.279131,20.485482,0.99973,0.99945
16,32,256,100,256,43.440900,22.331264,0.99976,0.99964
17,32,256,100,512,64.023827,26.080808,0.99977,0.99973
18,32,512,1,128,60.014287,101.328905,0.99979,0.99961
19,32,512,1,256,74.635514,147.006704,0.99982,0.99966
20,32,512,1,512,96.905451,144.804806,0.99982,0.99977
21,32,512,100,128,33.229307,39.802102,0.99979,0.99967
22,32,512,100,256,47.082675,43.084696,0.99982,0.99975
23,32,512,100,512,69.926114,31.635731,0.99982,0.99979
24,64,256,1,128,58.882203,108.406207,0.99969,0.99961
25,64,256,1,256,72.791528,83.080295,0.99980,0.99963
26,64,256,1,512,95.313186,144.167583,0.99980,0.99973
27,64,256,100,128,30.685976,20.214760,0.99969,0.99946
28,64,256,100,256,42.260736,22.479072,0.99980,0.99959
29,64,256,100,512,61.850634,26.513444,0.99980,0.99967
30,64,512,1,128,63.374321,61.827096,0.99977,0.99961
31,64,512,1,256,81.196557,154.676339,0.99980,0.99970
32,64,512,1,512,104.816448,113.573808,0.99982,0.99975
33,64,512,100,128,36.830119,20.809401,0.99977,0.99946
34,64,512,100,256,49.810604,23.299772,0.99980,0.99968
35,64,512,100,512,74.408881,27.811078,0.99982,0.99973

****************************************************************************************************
*********************************** Dataset: gist-960-euclidean ***********************************
****************************************************************************************************


******************************** precisions between 0.01 threshold ********************************

,m,ef_construct,parallel_search,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_precisions,milvus_mean_precisions
0,16,128,1,512,10.542911,21.708135,0.98574,0.97756
1,16,128,100,512,7.416244,7.994969,0.98574,0.97756
2,32,128,1,256,8.710409,20.098074,0.98299,0.97341
3,32,128,1,512,12.527048,27.456987,0.99354,0.98989
4,32,128,100,256,5.560345,6.901620,0.98299,0.97379
5,32,128,100,512,9.095007,10.736340,0.99354,0.98989
6,32,256,1,512,88.734770,27.331275,0.99827,0.99420
7,32,256,100,512,83.905027,10.277726,0.99827,0.99420
8,32,512,1,256,11.048630,22.158104,0.99422,0.98957
9,32,512,1,512,16.261084,31.195319,0.99816,0.99698
10,32,512,100,256,7.594702,7.413355,0.99422,0.98967
11,32,512,100,512,11.990057,13.111441,0.99816,0.99698
12,64,256,1,256,88.700601,25.425907,0.99696,0.98914
13,64,256,1,512,92.157945,34.943208,0.99909,0.99664
14,64,256,100,256,79.367943,9.003764,0.99696,0.98934
15,64,256,100,512,79.694217,13.619137,0.99909,0.99664
16,64,512,1,128,8.190583,19.778569,0.98587,0.98007
17,64,512,1,256,11.416482,25.379757,0.99585,0.99433
18,64,512,1,512,16.236917,35.560883,0.99877,0.99839
19,64,512,100,128,5.578980,6.380816,0.98587,0.98021
20,64,512,100,256,8.318999,9.507221,0.99585,0.99441
21,64,512,100,512,12.802223,16.451944,0.99877,0.99839

# Single Node Benchmarks

In [142]:
def show_results(selected_datasets: list = None, selected_parallel: int = 100, upload_info: bool = False, search_info: bool = True) -> None:
    selected_m = [16, 32, 64]                    # m: possible values [16, 32, 64]
    selected_ef_construct = [128, 256, 512]      # ef_construct: possible values [128, 256, 512]
    selected_ef_search = [64, 128, 256, 512]     # ef_search: possible values [64, 128, 256, 512] - 64 only for Qdrant

    for dataset in selected_datasets:
        print_h1(dataset)
        if upload_info:
            filtered_df = tested_upload_df[ (tested_upload_df['dataset'] == dataset) ]
            print_h2("Upload info")    
            display(filtered_df)
            print_h2("Upload Statistics")
            display(filtered_df.describe())
            
        if search_info:
            filtered_df = tested_search_df[
                (tested_search_df['dataset'] == dataset) & 
                (tested_search_df['parallel_search'] == selected_parallel)
            ]
            selected_columns = filtered_df[['m', 'ef_construct', 'ef_search', 'qdrant_total_time', 'milvus_total_time', 'qdrant_mean_time', 'milvus_mean_time', 'qdrant_p95_time', 'milvus_p95_time', 'qdrant_rps', 'milvus_rps', 'qdrant_mean_precisions', 'milvus_mean_precisions']]
            print_h2(f"search parallel {selected_parallel}")
            display(selected_columns)
            print_h2("Search Statistics")
            display(selected_columns.describe())

## Upload Results
This section compares the upload time and index time for Qdrant and Milvus under identical configurations (`m` and `ef_construct` values). A subset of the tested datasets is examined.

In [143]:
show_results(tested_datasets, upload_info = True, search_info = False)

****************************************************************************************************
************************************ Dataset: glove-100-angular ************************************
****************************************************************************************************


******************************************* Upload info *******************************************

,m,ef_construct,dataset,qdrant_upload_time,milvus_upload_time,qdrant_total_time,milvus_total_time,qdrant_index_time,milvus_index_time
1,16,128,glove-100-angular,126.881057,126.880983,277.223096,402.612144,150.342039,275.731161
10,32,128,glove-100-angular,128.901699,157.245702,309.238316,534.176123,180.336617,376.930421
19,32,256,glove-100-angular,129.391592,169.467621,485.102856,834.453757,355.711265,664.986136
28,32,512,glove-100-angular,129.146873,150.364454,835.529079,1386.106456,706.382207,1235.742002
37,64,256,glove-100-angular,129.279932,150.507552,530.075626,1056.233621,400.795694,905.726069
46,64,512,glove-100-angular,129.061302,152.203415,910.713256,1932.768503,781.651954,1780.565088

**************************************** Upload Statistics ****************************************

,m,ef_construct,qdrant_upload_time,milvus_upload_time,qdrant_total_time,milvus_total_time,qdrant_index_time,milvus_index_time
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,40.000000,298.666667,128.777076,151.111621,557.980372,1024.391767,429.203296,873.280146
std,19.595918,174.881293,0.944293,13.883866,263.909393,569.209529,263.421525,566.111567
min,16.000000,128.000000,126.881057,126.880983,277.223096,402.612144,150.342039,275.731161
25%,32.000000,160.000000,128.941599,150.400229,353.204451,609.245531,224.180279,448.944350
50%,32.000000,256.000000,129.104087,151.355483,507.589241,945.343689,378.253479,785.356103
75%,56.000000,448.000000,129.246667,155.985130,759.165716,1303.638247,629.985578,1153.238019
max,64.000000,512.000000,129.391592,169.467621,910.713256,1932.768503,781.651954,1780.565088

****************************************************************************************************
*********************** Dataset: random-match-keyword-100-angular-no-filters ***********************
****************************************************************************************************


******************************************* Upload info *******************************************

,m,ef_construct,dataset,qdrant_upload_time,milvus_upload_time,qdrant_total_time,milvus_total_time,qdrant_index_time,milvus_index_time
8,16,128,random-match-keyword-100-angular-no-filters,108.040096,107.722379,263.333032,389.329047,155.292936,281.606668
17,32,128,random-match-keyword-100-angular-no-filters,110.367189,125.651996,370.838451,471.339411,260.471262,345.687415
26,32,256,random-match-keyword-100-angular-no-filters,109.965632,169.567497,580.944621,691.483062,470.978989,521.915565
35,32,512,random-match-keyword-100-angular-no-filters,110.932404,243.167213,897.490801,1839.475358,786.558396,1596.308145
44,64,256,random-match-keyword-100-angular-no-filters,111.119222,131.279889,692.239552,1779.135985,581.120330,1647.856096
53,64,512,random-match-keyword-100-angular-no-filters,110.128950,134.288684,1107.209395,2742.023748,997.080445,2607.735064

**************************************** Upload Statistics ****************************************

,m,ef_construct,qdrant_upload_time,milvus_upload_time,qdrant_total_time,milvus_total_time,qdrant_index_time,milvus_index_time
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,40.000000,298.666667,110.092249,151.946276,652.009308,1318.797769,541.917060,1166.851492
std,19.595918,174.881293,1.101348,49.026114,317.573060,947.017437,316.948623,934.436205
min,16.000000,128.000000,108.040096,107.722379,263.333032,389.329047,155.292936,281.606668
25%,32.000000,160.000000,110.006461,127.058969,423.364993,526.375324,313.098193,389.744453
50%,32.000000,256.000000,110.248069,132.784287,636.592086,1235.309523,526.049659,1059.111855
75%,56.000000,448.000000,110.791101,160.747793,846.177989,1824.390515,735.198880,1634.969108
max,64.000000,512.000000,111.119222,243.167213,1107.209395,2742.023748,997.080445,2607.735064

****************************************************************************************************
***************************** Dataset: h-and-m-2048-angular-no-filters *****************************
****************************************************************************************************


******************************************* Upload info *******************************************

,m,ef_construct,dataset,qdrant_upload_time,milvus_upload_time,qdrant_total_time,milvus_total_time,qdrant_index_time,milvus_index_time
4,16,128,h-and-m-2048-angular-no-filters,23.284005,27.967654,58.386913,77.015230,35.102908,49.047576
13,32,128,h-and-m-2048-angular-no-filters,28.249834,34.812421,73.386633,83.187050,45.136799,48.374629
22,32,256,h-and-m-2048-angular-no-filters,28.173027,34.423272,88.394668,108.816306,60.221641,74.393034
31,32,512,h-and-m-2048-angular-no-filters,29.491558,37.955274,124.713258,148.826834,95.221700,110.871561
40,64,256,h-and-m-2048-angular-no-filters,28.642110,37.954680,88.791800,114.750911,60.149690,76.796232
49,64,512,h-and-m-2048-angular-no-filters,29.622981,35.385721,119.894386,293.621136,90.271405,258.235415

**************************************** Upload Statistics ****************************************

,m,ef_construct,qdrant_upload_time,milvus_upload_time,qdrant_total_time,milvus_total_time,qdrant_index_time,milvus_index_time
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,40.000000,298.666667,27.910586,34.749837,92.261276,137.702911,64.350691,102.953074
std,19.595918,174.881293,2.347599,3.662206,25.874437,80.561081,24.017521,79.447811
min,16.000000,128.000000,23.284005,27.967654,58.386913,77.015230,35.102908,48.374629
25%,32.000000,160.000000,28.192229,34.520559,77.138641,89.594364,48.890022,55.383940
50%,32.000000,256.000000,28.445972,35.099071,88.593234,111.783609,60.185665,75.594633
75%,56.000000,448.000000,29.279196,37.312440,112.118740,140.307854,82.758964,102.352728
max,64.000000,512.000000,29.622981,37.955274,124.713258,293.621136,95.221700,258.235415

****************************************************************************************************
*********************************** Dataset: gist-960-euclidean ***********************************
****************************************************************************************************


******************************************* Upload info *******************************************

,m,ef_construct,dataset,qdrant_upload_time,milvus_upload_time,qdrant_total_time,milvus_total_time,qdrant_index_time,milvus_index_time
0,16,128,gist-960-euclidean,180.069424,198.857859,590.885089,1148.785398,410.815665,949.927539
9,32,128,gist-960-euclidean,199.331032,187.953994,660.447450,1131.742193,461.116418,943.788200
18,32,256,gist-960-euclidean,182.348457,259.872250,437.876495,1993.712799,255.528038,1733.840549
27,32,512,gist-960-euclidean,194.569386,310.625955,1602.688582,3357.715450,1408.119196,3047.089495
36,64,256,gist-960-euclidean,209.092898,257.759821,494.700031,1736.447483,285.607134,1478.687662
45,64,512,gist-960-euclidean,191.571573,325.616016,1690.252603,3639.353541,1498.681031,3313.737526

**************************************** Upload Statistics ****************************************

,m,ef_construct,qdrant_upload_time,milvus_upload_time,qdrant_total_time,milvus_total_time,qdrant_index_time,milvus_index_time
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,40.000000,298.666667,192.830462,256.780982,912.808375,2167.959477,719.977914,1911.178495
std,19.595918,174.881293,10.807862,56.107574,574.116668,1087.156505,573.916231,1033.035342
min,16.000000,128.000000,180.069424,187.953994,437.876495,1131.742193,255.528038,943.788200
25%,32.000000,160.000000,184.654236,213.583349,518.746296,1295.700919,316.909266,1082.117570
50%,32.000000,256.000000,193.070479,258.816035,625.666270,1865.080141,435.966042,1606.264106
75%,56.000000,448.000000,198.140620,297.937529,1367.128299,3016.714787,1171.368502,2718.777258
max,64.000000,512.000000,209.092898,325.616016,1690.252603,3639.353541,1498.681031,3313.737526

## Observations
- **glove-100-angular**: Milvus needs a little more upload time (~15%), but requires the double index time than Qdrant in most configurations
- **random-match-keyword-100-angular-no-filters**: Milvus needs more upload time (~35%) and requires the double index time than Qdrant  in most configurations
- **h-and-m-2048-angular-no-filters**: Milvus needs a little more upload time (~25%) and requires index time up to a 50% more than Qdrant in most configurations 
- **gist-960-euclidean**: Milvus needs more upload time (~35%) and requires the double or more index time than Qdrant in most configurations

Taking into consideration the above observations we can summarize:
- `upload_time`: Milvus needs about 20-30% more time for upload than Qdrant in most configurations
- `index_time`: In most cases, Milvus needs at least the double of the corresponding Qdrant time for index
- As `m` and `ef` values increase, `upload_time` and `index_time` for the two Databases differ more

## Search Results
This section compares the search latency (`total_time`, `mean_time`, `p95_time`), throughput (`rps`) and precision (`mean_precisions`) for Qdrant and Milvus under identical configurations (`m` and `ef_construct` and `ef_search` values). A subset of the tested datasets is examined for a specific value for parallel search threads (here 100).

In [124]:
show_results(tested_datasets, upload_info = False, search_info = True)

****************************************************************************************************
************************************ Dataset: glove-100-angular ************************************
****************************************************************************************************


*************************************** search parallel 100 ***************************************

,m,ef_construct,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_time,milvus_mean_time,qdrant_p95_time,milvus_p95_time,qdrant_rps,milvus_rps,qdrant_mean_precisions,milvus_mean_precisions
37,16,128,128,15.252267,11.312494,0.011746,0.008582,0.016072,0.012134,655.640223,883.978330,0.875369,0.757702
46,16,128,256,20.159014,12.511192,0.015628,0.009563,0.019160,0.013440,496.056017,799.284327,0.927245,0.828429
55,16,128,512,31.796166,15.217270,0.024913,0.011735,0.028318,0.016311,314.503323,657.148078,0.963212,0.884985
109,32,128,128,18.197656,11.466082,0.014039,0.008679,0.019196,0.011903,549.521329,872.137462,0.916376,0.823282
118,32,128,256,26.449038,14.267616,0.020618,0.010929,0.024340,0.015223,378.085589,700.887931,0.959478,0.887004
127,32,128,512,42.384065,19.956903,0.033364,0.015466,0.038325,0.022283,235.937727,501.079754,0.984413,0.934825
181,32,256,128,19.192246,10.577161,0.014829,0.008014,0.018375,0.010847,521.043767,945.433278,0.934769,0.841231
190,32,256,256,30.786126,13.937474,0.024068,0.010714,0.027970,0.014726,324.821639,717.490153,0.973668,0.905525
199,32,256,512,48.927453,20.010878,0.038598,0.015552,0.043796,0.022141,204.384234,499.728203,0.992094,0.951028
253,32,512,128,20.595951,10.973320,0.015945,0.008278,0.019482,0.011331,485.532314,911.301229,0.941837,0.842867
262,32,512,256,32.800423,14.507474,0.025697,0.011168,0.029208,0.015585,304.874121,689.299860,0.979419,0.908696
271,32,512,512,54.094361,21.186450,0.042735,0.016494,0.048307,0.023575,184.862151,471.999792,0.994934,0.954262
325,64,256,128,22.917388,12.361385,0.017804,0.009455,0.021389,0.012785,436.349896,808.970826,0.955880,0.880369
334,64,256,256,36.405090,17.331873,0.028539,0.013414,0.032939,0.019105,274.686867,576.971683,0.984471,0.936215
343,64,256,512,59.623147,26.008987,0.047153,0.020293,0.054227,0.029142,167.720096,384.482482,0.996063,0.971402
397,64,512,128,25.711508,13.094551,0.020028,0.010048,0.023435,0.013658,388.930904,763.676410,0.966909,0.896798
406,64,512,256,41.407652,20.160666,0.032583,0.015683,0.037389,0.023813,241.501260,496.015367,0.990476,0.951033
415,64,512,512,68.919277,30.410603,0.054586,0.023851,0.062540,0.037059,145.097285,328.832683,0.998266,0.981965

**************************************** Search Statistics ****************************************

,m,ef_construct,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_time,milvus_mean_time,qdrant_p95_time,milvus_p95_time,qdrant_rps,milvus_rps,qdrant_mean_precisions,milvus_mean_precisions
count,18.00000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,40.00000,298.666667,298.666667,34.201046,16.405132,0.026826,0.012662,0.031359,0.018059,350.530486,667.150992,0.963049,0.896534
std,18.40716,164.272371,164.272371,15.510157,5.550684,0.012395,0.004432,0.013507,0.007071,147.530217,188.291156,0.033180,0.059975
min,16.00000,128.000000,128.000000,15.252267,10.577161,0.011746,0.008014,0.016072,0.010847,145.097285,328.832683,0.875369,0.757702
25%,32.00000,128.000000,128.000000,21.176311,12.398837,0.016410,0.009482,0.019958,0.012949,237.328610,500.066091,0.945348,0.852243
50%,32.00000,256.000000,256.000000,31.291146,14.387545,0.024490,0.011049,0.028144,0.015404,319.662481,695.093895,0.970288,0.901161
75%,64.00000,512.000000,512.000000,42.139962,19.997384,0.033169,0.015530,0.038091,0.022247,473.236710,806.549202,0.988975,0.947325
max,64.00000,512.000000,512.000000,68.919277,30.410603,0.054586,0.023851,0.062540,0.037059,655.640223,945.433278,0.998266,0.981965

****************************************************************************************************
*********************** Dataset: random-match-keyword-100-angular-no-filters ***********************
****************************************************************************************************


*************************************** search parallel 100 ***************************************

,m,ef_construct,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_time,milvus_mean_time,qdrant_p95_time,milvus_p95_time,qdrant_rps,milvus_rps,qdrant_mean_precisions,milvus_mean_precisions
44,16,128,128,13.326425,9.702307,0.010232,0.007382,0.012771,0.009991,750.388806,1030.682649,0.69804,0.51119
53,16,128,256,21.472595,12.737364,0.016732,0.009792,0.018982,0.013639,465.709903,785.091822,0.81618,0.60283
62,16,128,512,35.450237,17.751701,0.027924,0.013786,0.030222,0.019511,282.085559,563.326301,0.89881,0.69596
116,32,128,128,20.959702,25.574113,0.016295,0.020007,0.018608,0.031055,477.106022,391.020398,0.86614,0.81362
125,32,128,256,34.183424,36.592034,0.026900,0.028824,0.029303,0.044473,292.539452,273.283528,0.94356,0.89320
134,32,128,512,56.547487,53.135879,0.044783,0.042027,0.048067,0.063912,176.842517,188.196755,0.98043,0.94667
188,32,256,128,21.879821,25.410535,0.017027,0.019862,0.019407,0.030572,457.042132,393.537568,0.89802,0.85350
197,32,256,256,35.903485,35.827484,0.028259,0.028096,0.030563,0.043568,278.524493,279.115328,0.96242,0.91926
206,32,256,512,60.004322,53.577440,0.047538,0.042398,0.051399,0.065729,166.654662,186.645723,0.98883,0.96173
260,32,512,128,22.644774,13.126700,0.017643,0.010103,0.019789,0.013735,441.602990,761.806061,0.90740,0.85207
269,32,512,256,37.539708,18.027381,0.029575,0.013992,0.031823,0.019707,266.384598,554.711762,0.96984,0.90456
278,32,512,512,63.540944,27.257646,0.050318,0.021372,0.054232,0.029913,157.378840,366.869544,0.99231,0.94107
332,64,256,128,33.679423,18.241186,0.026468,0.014160,0.028775,0.019780,296.917203,548.209968,0.96360,0.85726
341,64,256,256,56.089397,27.783579,0.044384,0.021772,0.048078,0.030528,178.286815,359.924834,0.99225,0.93658
350,64,256,512,92.183448,42.533256,0.073253,0.033555,0.078939,0.044395,108.479345,235.110146,0.99878,0.97998
404,64,512,128,35.548747,17.527593,0.027969,0.013559,0.030660,0.018891,281.303868,570.528991,0.96983,0.95208
413,64,512,256,59.594162,27.739127,0.047195,0.021731,0.050827,0.030654,167.801672,360.501616,0.99520,0.98034
422,64,512,512,98.404297,42.804713,0.078232,0.033773,0.084150,0.045624,101.621578,233.619132,0.99940,0.99156

**************************************** Search Statistics ****************************************

,m,ef_construct,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_time,milvus_mean_time,qdrant_p95_time,milvus_p95_time,qdrant_rps,milvus_rps,qdrant_mean_precisions,milvus_mean_precisions
count,18.00000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,40.00000,298.666667,298.666667,44.386244,28.075002,0.035040,0.022011,0.038144,0.031982,297.037248,449.010118,0.935613,0.866303
std,18.40716,164.272371,164.272371,24.062163,13.423017,0.019237,0.010712,0.020344,0.016413,166.304656,232.086430,0.078917,0.134563
min,16.00000,128.000000,128.000000,13.326425,9.702307,0.010232,0.007382,0.012771,0.009991,101.621578,186.645723,0.698040,0.511190
25%,32.00000,128.000000,128.000000,25.403436,17.820621,0.019849,0.013837,0.022036,0.019560,170.061883,274.741478,0.900957,0.852428
50%,32.00000,256.000000,256.000000,35.726116,26.415880,0.028114,0.020690,0.030612,0.030550,279.914181,378.944971,0.966715,0.911910
75%,64.00000,512.000000,512.000000,58.832493,36.400896,0.046592,0.028642,0.050140,0.044188,405.431543,561.172666,0.991395,0.950728
max,64.00000,512.000000,512.000000,98.404297,53.577440,0.078232,0.042398,0.084150,0.065729,750.388806,1030.682649,0.999400,0.991560

****************************************************************************************************
***************************** Dataset: h-and-m-2048-angular-no-filters *****************************
****************************************************************************************************


*************************************** search parallel 100 ***************************************

,m,ef_construct,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_time,milvus_mean_time,qdrant_p95_time,milvus_p95_time,qdrant_rps,milvus_rps,qdrant_mean_precisions,milvus_mean_precisions
40,16,128,128,26.737228,19.423637,0.009824,0.005269,0.019172,0.006586,374.010356,514.836642,0.99941,0.99819
49,16,128,256,36.675307,21.551324,0.024495,0.006770,0.032406,0.008870,272.663022,464.008615,0.99971,0.99914
58,16,128,512,54.897648,24.656901,0.042869,0.009824,0.050627,0.013628,182.157167,405.565976,0.99976,0.99937
112,32,128,128,29.654456,19.780167,0.009491,0.005422,0.015691,0.006755,337.217455,505.556907,0.99940,0.99883
121,32,128,256,39.760404,21.544593,0.028637,0.006886,0.036057,0.008899,251.506497,464.153588,0.99962,0.99930
130,32,128,512,59.483923,24.725372,0.046536,0.010392,0.056753,0.014325,168.112653,404.442848,0.99971,0.99958
184,32,256,128,31.279131,20.485482,0.011849,0.005861,0.022224,0.007346,319.701975,488.150577,0.99973,0.99945
193,32,256,256,43.440900,22.331264,0.032963,0.007726,0.039847,0.010163,230.197810,447.802680,0.99976,0.99964
202,32,256,512,64.023827,26.080808,0.050254,0.011970,0.059863,0.016852,156.191850,383.423702,0.99977,0.99973
256,32,512,128,33.229307,39.802102,0.014398,0.017884,0.025146,0.029074,300.939169,251.243012,0.99979,0.99967
265,32,512,256,47.082675,43.084696,0.036351,0.027069,0.043268,0.045432,212.392352,232.100977,0.99982,0.99975
274,32,512,512,69.926114,31.635731,0.055094,0.016582,0.065318,0.030936,143.008091,316.098277,0.99982,0.99979
328,64,256,128,30.685976,20.214760,0.011415,0.006007,0.021883,0.007558,325.881769,494.688035,0.99969,0.99946
337,64,256,256,42.260736,22.479072,0.031944,0.007896,0.038663,0.010518,236.626264,444.858216,0.99980,0.99959
346,64,256,512,61.850634,26.513444,0.048559,0.012425,0.058062,0.017725,161.679830,377.167142,0.99980,0.99967
400,64,512,128,36.830119,20.809401,0.013411,0.006292,0.026240,0.008044,271.516911,480.552030,0.99977,0.99946
409,64,512,256,49.810604,23.299772,0.037541,0.008544,0.046779,0.011599,200.760465,429.188744,0.99980,0.99968
418,64,512,512,74.408881,27.811078,0.058357,0.014050,0.071165,0.020491,134.392559,359.568950,0.99982,0.99973

**************************************** Search Statistics ****************************************

,m,ef_construct,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_time,milvus_mean_time,qdrant_p95_time,milvus_p95_time,qdrant_rps,milvus_rps,qdrant_mean_precisions,milvus_mean_precisions
count,18.00000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,40.00000,298.666667,298.666667,46.224326,25.346089,0.031333,0.010382,0.040509,0.015267,237.719788,414.633718,0.999721,0.999446
std,18.40716,164.272371,164.272371,14.781629,6.681729,0.016731,0.005649,0.017034,0.010435,73.401340,82.925168,0.000126,0.000397
min,16.00000,128.000000,128.000000,26.737228,19.423637,0.009491,0.005269,0.015691,0.006586,134.392559,232.100977,0.999400,0.998190
25%,32.00000,128.000000,128.000000,34.090807,20.993199,0.013658,0.006412,0.025419,0.008251,171.623781,378.731282,0.999710,0.999390
50%,32.00000,256.000000,256.000000,42.850818,22.889422,0.032454,0.008220,0.039255,0.011059,233.412037,437.023480,0.999765,0.999585
75%,64.00000,512.000000,512.000000,58.337354,26.405285,0.045619,0.012312,0.055222,0.017507,293.870132,476.452420,0.999800,0.999677
max,64.00000,512.000000,512.000000,74.408881,43.084696,0.058357,0.027069,0.071165,0.045432,374.010356,514.836642,0.999820,0.999790

****************************************************************************************************
*********************************** Dataset: gist-960-euclidean ***********************************
****************************************************************************************************


*************************************** search parallel 100 ***************************************

,m,ef_construct,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_time,milvus_mean_time,qdrant_p95_time,milvus_p95_time,qdrant_rps,milvus_rps,qdrant_mean_precisions,milvus_mean_precisions
36,16,128,128,2.813109,3.505069,0.021563,0.026337,0.024530,0.040433,355.478633,285.301088,0.92829,0.89576
45,16,128,256,4.494933,5.449892,0.035038,0.042107,0.041553,0.064979,222.472702,183.489861,0.96790,0.94910
54,16,128,512,7.416244,7.994969,0.058092,0.062380,0.068353,0.097632,134.839149,125.078660,0.98574,0.97756
108,32,128,128,3.462955,4.628667,0.026756,0.035189,0.031440,0.055408,288.770743,216.044908,0.95611,0.93580
117,32,128,256,5.560345,6.901620,0.043538,0.053554,0.052728,0.082476,179.844962,144.893524,0.98299,0.97379
126,32,128,512,9.095007,10.736340,0.071494,0.084112,0.088051,0.129889,109.950440,93.141607,0.99354,0.98989
180,32,256,128,83.385490,4.431649,0.664041,0.033804,0.733157,0.051154,11.992494,225.649655,0.98875,0.95267
189,32,256,256,83.083143,7.289379,0.661361,0.056690,0.706193,0.096269,12.036136,137.185894,0.99577,0.98342
198,32,256,512,83.905027,10.277726,0.668211,0.080588,0.715590,0.119980,11.918237,97.297789,0.99827,0.99420
252,32,512,128,4.817638,4.956987,0.037320,0.037503,0.046639,0.062431,207.570598,201.735466,0.98076,0.96562
261,32,512,256,7.594702,7.413355,0.059433,0.057496,0.075078,0.089697,131.670727,134.891688,0.99422,0.98967
270,32,512,512,11.990057,13.111441,0.094552,0.103281,0.113236,0.161444,83.402441,76.269267,0.99816,0.99698
324,64,256,128,78.425999,6.105227,0.624538,0.046980,0.675959,0.076734,12.750874,163.794071,0.99120,0.96714
333,64,256,256,79.367943,9.003764,0.632110,0.070349,0.704469,0.114857,12.599545,111.064660,0.99696,0.98934
342,64,256,512,79.694217,13.619137,0.634484,0.107288,0.690186,0.163962,12.547962,73.426093,0.99909,0.99664
396,64,512,128,5.578980,6.380816,0.043457,0.049289,0.057081,0.075417,179.244247,156.719780,0.98587,0.98021
405,64,512,256,8.318999,9.507221,0.065380,0.074453,0.079234,0.116758,120.206777,105.183212,0.99585,0.99441
414,64,512,512,12.802223,16.451944,0.101180,0.129807,0.122501,0.206499,78.111435,60.783090,0.99877,0.99839

**************************************** Search Statistics ****************************************

,m,ef_construct,ef_search,qdrant_total_time,milvus_total_time,qdrant_mean_time,milvus_mean_time,qdrant_p95_time,milvus_p95_time,qdrant_rps,milvus_rps,qdrant_mean_precisions,milvus_mean_precisions
count,18.00000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,40.00000,298.666667,298.666667,31.767056,8.209178,0.252364,0.063956,0.279221,0.100334,120.300450,143.997240,0.985458,0.973922
std,18.40716,164.272371,164.272371,36.161467,3.536682,0.288374,0.028317,0.310426,0.044152,103.563230,60.200697,0.018291,0.026686
min,16.00000,128.000000,128.000000,2.813109,3.505069,0.021563,0.026337,0.024530,0.040433,11.918237,60.783090,0.928290,0.895760
25%,32.00000,128.000000,128.000000,5.565003,5.613726,0.043477,0.043325,0.053816,0.067589,12.637377,99.269145,0.983677,0.966000
50%,32.00000,256.000000,256.000000,8.707003,7.351367,0.068437,0.057093,0.083642,0.092983,115.078609,136.038791,0.992370,0.981815
75%,64.00000,512.000000,512.000000,79.132457,10.085100,0.630217,0.079054,0.686629,0.119174,179.694783,178.565914,0.996682,0.993123
max,64.00000,512.000000,512.000000,83.905027,16.451944,0.668211,0.129807,0.733157,0.206499,355.478633,285.301088,0.999090,0.998390

## Observations
- **glove-100-angular**: For small `ef_search` (e.g. 128) Qdrant needs 50-80% (30-50% if we exclude outliers - extreme latencies) more search time and performs less rps comparing to Milvus. For bigger `ef_search` values (e.g. 512), Qdrant requires double (or 60-80% more time if we exclude outliers) search time and performs the half rps than Milvus. Mean precisions percentage is 5-10% bigger for Qdrant. We can also observe that while `ef_search` and `m` and `ef_construct` values get bigger, then the mean precisions percentage for the two DataBases is closer. Milvus is more sensitive to changes in ef_search, and with each increase, it shows a significant improvement in mean precisions percentage.
- **random-match-keyword-100-angular-no-filters**:  We observe again that Qdrant requires 40% up to 80% or more search time than Milvus, depending on `ef_search` primirily and performs less rps. Mean precisions percentage is 5-10% bigger for Qdrant. For small `m`, `ef_construct`, `ef_search` precisions are low (60%-80%) for both databases in this dataset test.
- **h-and-m-2048-angular-no-filters**: As in last experiments, Qdrant is slower than Milvus in search by a factor 1.5 and respondingly Milvus serves more rps. For this dataset, mean precisions percentage is high for both databases for every `m`, `ef_construct`, `ef_search` combination. It seems that this observations is dataset-specific.
- **gist-960-euclidean**: For most configurations, the two DataBases have similar search time and rps. We can even observe that in some cases Qdrant performs more rps and is bit faster. However, in configurations `m-32-ef-256` and `m-64-ef-256`, Qdrant shows unexpectedly high latency (80 sec total time when Milvus needs 10 sec). Mean precisions percentage for this dataset is high (95-99%) and similar for both databases with a slight advantage for Qdrant.

Taking into consideration the above observations we can summarize:
- Qdrant needs more search time (40-80% comparing to Mivlus)
- Search time differences show up when search time increases due to bigger values of `m`, `ef_construct`, `ef_search`
- Milvus performs more rps (up to 50% or more than Qdrant)
- Qdrant more accurate - for the same configurations, Qdrant achieves 5-10% higher mean precisions percentage (for low `m`, `ef_construct`, `ef_search`)
- For big `m`, `ef_construct`, `ef_search`, mean precisions percentage is bigger (95-99%) and similar for the two databases
- Milvus is more sensitive to changes of `ef_search` and has much lower precisions for low `m`, `ef_construct`, `ef_search`

## Comparison based on precisions

In [126]:
def show_results_of_similar_precision(selected_datasets: list = None, selected_parallel: int = 100, upload_info: bool = False, search_info: bool = True) -> None:
    selected_m = [16, 32, 64]                    # m: possible values [16, 32, 64]
    selected_ef_construct = [128, 256, 512]      # ef_construct: possible values [128, 256, 512]
    selected_ef_search = [64, 128, 256, 512]     # ef_search: possible values [64, 128, 256, 512] - 64 only for Qdrant

    for dataset in selected_datasets:
        print_h1(dataset)
        # merged_df is a join of a dataframes for Qdrant and Milvus data based on (Qdrant and Milvus have equal rounded mean_precisions)
        filtered_df = merged_df[
            (merged_df['dataset'] == dataset) & 
            (merged_df['parallel_search_qdrant'] == selected_parallel) &
            (merged_df['parallel_search_milvus'] == selected_parallel) 
        ]
        selected_columns = filtered_df[['dataset', 'mean_precisions_rounded', 'config_qdrant', 'qdrant_total_time', 'config_milvus', 'milvus_total_time']]	
        print_h2(f"search parallel {selected_parallel}")
        display(selected_columns)
        print_h2("Search Statistics")
        display(selected_columns.describe())

In [127]:
show_results_of_similar_precision(tested_datasets, selected_parallel = 100)

****************************************************************************************************
************************************ Dataset: glove-100-angular ************************************
****************************************************************************************************


*************************************** search parallel 100 ***************************************

,dataset,mean_precisions_rounded,config_qdrant,qdrant_total_time,config_milvus,milvus_total_time
4807,glove-100-angular,0.98,m-32-ef-512-parallel-100-ef-search-512,42.384065,m-64-ef-512-parallel-100-ef-search-512,30.410603
4811,glove-100-angular,0.98,m-32-ef-256-parallel-100-ef-search-256,32.800423,m-64-ef-512-parallel-100-ef-search-512,30.410603
4815,glove-100-angular,0.98,m-64-ef-256-parallel-100-ef-search-256,36.405090,m-64-ef-512-parallel-100-ef-search-512,30.410603
4911,glove-100-angular,0.97,m-32-ef-256-parallel-100-ef-search-256,30.786126,m-64-ef-512-parallel-100-ef-search-512,26.008987
4915,glove-100-angular,0.97,m-64-ef-128-parallel-100-ef-search-128,25.711508,m-64-ef-512-parallel-100-ef-search-512,26.008987
4939,glove-100-angular,0.94,m-32-ef-128-parallel-100-ef-search-128,20.595951,m-64-ef-256-parallel-100-ef-search-256,17.331873
4635,glove-100-angular,0.93,m-16-ef-256-parallel-100-ef-search-256,20.159014,m-32-ef-512-parallel-100-ef-search-512,19.956903
4639,glove-100-angular,0.93,m-32-ef-128-parallel-100-ef-search-128,19.192246,m-32-ef-512-parallel-100-ef-search-512,19.956903
5,glove-100-angular,0.88,m-16-ef-128-parallel-100-ef-search-128,15.252267,m-16-ef-512-parallel-100-ef-search-512,15.217270
7,glove-100-angular,0.88,m-16-ef-128-parallel-100-ef-search-128,15.252267,m-64-ef-128-parallel-100-ef-search-128,12.361385

**************************************** Search Statistics ****************************************

       mean_precisions_rounded  qdrant_total_time  milvus_total_time
count                10.000000          10.000000          10.000000
mean                  0.944000          25.853896          22.807412
std                   0.039215           9.347726           6.723820
min                   0.880000          15.252267          12.361385
25%                   0.930000          19.433938          17.988131
50%                   0.955000          23.153730          22.982945
75%                   0.977500          32.296849          29.310199
max                   0.980000          42.384065          30.410603

****************************************************************************************************
*********************** Dataset: random-match-keyword-100-angular-no-filters ***********************
****************************************************************************************************


*************************************** search parallel 100 ***************************************

,dataset,mean_precisions_rounded,config_qdrant,qdrant_total_time,config_milvus,milvus_total_time
4927,random-match-keyword-100-angular-no-filters,0.99,m-32-ef-512-parallel-100-ef-search-512,60.004322,m-64-ef-512-parallel-100-ef-search-512,42.804713
4931,random-match-keyword-100-angular-no-filters,0.99,m-32-ef-512-parallel-100-ef-search-512,63.540944,m-64-ef-512-parallel-100-ef-search-512,42.804713
4935,random-match-keyword-100-angular-no-filters,0.99,m-64-ef-256-parallel-100-ef-search-256,56.089397,m-64-ef-512-parallel-100-ef-search-512,42.804713
4821,random-match-keyword-100-angular-no-filters,0.98,m-32-ef-512-parallel-100-ef-search-512,56.547487,m-64-ef-512-parallel-100-ef-search-512,42.533256
4823,random-match-keyword-100-angular-no-filters,0.98,m-32-ef-512-parallel-100-ef-search-512,56.547487,m-64-ef-256-parallel-100-ef-search-256,27.739127
4919,random-match-keyword-100-angular-no-filters,0.96,m-32-ef-256-parallel-100-ef-search-256,35.903485,m-32-ef-512-parallel-100-ef-search-512,53.577440
4923,random-match-keyword-100-angular-no-filters,0.96,m-64-ef-128-parallel-100-ef-search-128,33.679423,m-32-ef-512-parallel-100-ef-search-512,53.577440
4801,random-match-keyword-100-angular-no-filters,0.94,m-32-ef-256-parallel-100-ef-search-256,34.183424,m-32-ef-512-parallel-100-ef-search-512,27.257646
4802,random-match-keyword-100-angular-no-filters,0.94,m-32-ef-256-parallel-100-ef-search-256,34.183424,m-64-ef-256-parallel-100-ef-search-256,27.783579
4765,random-match-keyword-100-angular-no-filters,0.90,m-16-ef-512-parallel-100-ef-search-512,35.450237,m-32-ef-256-parallel-100-ef-search-256,18.027381
4771,random-match-keyword-100-angular-no-filters,0.90,m-32-ef-128-parallel-100-ef-search-128,21.879821,m-32-ef-256-parallel-100-ef-search-256,18.027381
4619,random-match-keyword-100-angular-no-filters,0.70,m-16-ef-128-parallel-100-ef-search-128,13.326425,m-16-ef-512-parallel-100-ef-search-512,17.751701

**************************************** Search Statistics ****************************************

       mean_precisions_rounded  qdrant_total_time  milvus_total_time
count                12.000000          12.000000          12.000000
mean                  0.935833          41.777990          34.557424
std                   0.080955          16.258811          13.368100
min                   0.700000          13.326425          17.751701
25%                   0.930000          34.057423          24.950079
50%                   0.960000          35.676861          35.158417
75%                   0.982500          56.547487          42.804713
max                   0.990000          63.540944          53.577440

****************************************************************************************************
***************************** Dataset: h-and-m-2048-angular-no-filters *****************************
****************************************************************************************************


*************************************** search parallel 100 ***************************************

,dataset,mean_precisions_rounded,config_qdrant,qdrant_total_time,config_milvus,milvus_total_time
2135,h-and-m-2048-angular-no-filters,1.0,m-16-ef-128-parallel-100-ef-search-128,26.737228,m-16-ef-128-parallel-100-ef-search-128,19.423637
2136,h-and-m-2048-angular-no-filters,1.0,m-16-ef-128-parallel-100-ef-search-128,26.737228,m-16-ef-256-parallel-100-ef-search-256,21.551324
2137,h-and-m-2048-angular-no-filters,1.0,m-16-ef-128-parallel-100-ef-search-128,26.737228,m-16-ef-512-parallel-100-ef-search-512,24.656901
2141,h-and-m-2048-angular-no-filters,1.0,m-16-ef-128-parallel-100-ef-search-128,26.737228,m-32-ef-128-parallel-100-ef-search-128,19.780167
2142,h-and-m-2048-angular-no-filters,1.0,m-16-ef-128-parallel-100-ef-search-128,26.737228,m-32-ef-256-parallel-100-ef-search-256,21.544593
...,...,...,...,...,...,...
3312,h-and-m-2048-angular-no-filters,1.0,m-64-ef-512-parallel-100-ef-search-512,74.408881,m-64-ef-256-parallel-100-ef-search-256,22.479072
3313,h-and-m-2048-angular-no-filters,1.0,m-64-ef-512-parallel-100-ef-search-512,74.408881,m-64-ef-512-parallel-100-ef-search-512,26.513444
3317,h-and-m-2048-angular-no-filters,1.0,m-64-ef-512-parallel-100-ef-search-512,74.408881,m-64-ef-128-parallel-100-ef-search-128,20.809401
3318,h-and-m-2048-angular-no-filters,1.0,m-64-ef-512-parallel-100-ef-search-512,74.408881,m-64-ef-256-parallel-100-ef-search-256,23.299772
3319,h-and-m-2048-angular-no-filters,1.0,m-64-ef-512-parallel-100-ef-search-512,74.408881,m-64-ef-512-parallel-100-ef-search-512,27.811078

**************************************** Search Statistics ****************************************

       mean_precisions_rounded  qdrant_total_time  milvus_total_time
count                    324.0         324.000000         324.000000
mean                       1.0          46.224326          25.346089
std                        0.0          14.387381           6.503517
min                        1.0          26.737228          19.423637
25%                        1.0          33.229307          20.809401
50%                        1.0          42.850818          22.889422
75%                        1.0          59.483923          26.513444
max                        1.0          74.408881          43.084696

****************************************************************************************************
*********************************** Dataset: gist-960-euclidean ***********************************
****************************************************************************************************


*************************************** search parallel 100 ***************************************

,dataset,mean_precisions_rounded,config_qdrant,qdrant_total_time,config_milvus,milvus_total_time
4837,gist-960-euclidean,1.00,m-32-ef-256-parallel-100-ef-search-256,83.083143,m-32-ef-512-parallel-100-ef-search-512,13.111441
4839,gist-960-euclidean,1.00,m-32-ef-256-parallel-100-ef-search-256,83.083143,m-64-ef-512-parallel-100-ef-search-512,13.619137
4841,gist-960-euclidean,1.00,m-32-ef-256-parallel-100-ef-search-256,83.083143,m-64-ef-512-parallel-100-ef-search-512,16.451944
4843,gist-960-euclidean,1.00,m-32-ef-512-parallel-100-ef-search-512,83.905027,m-32-ef-512-parallel-100-ef-search-512,13.111441
4845,gist-960-euclidean,1.00,m-32-ef-512-parallel-100-ef-search-512,83.905027,m-64-ef-512-parallel-100-ef-search-512,13.619137
4847,gist-960-euclidean,1.00,m-32-ef-512-parallel-100-ef-search-512,83.905027,m-64-ef-512-parallel-100-ef-search-512,16.451944
4855,gist-960-euclidean,1.00,m-32-ef-512-parallel-100-ef-search-512,11.990057,m-32-ef-512-parallel-100-ef-search-512,13.111441
4857,gist-960-euclidean,1.00,m-32-ef-512-parallel-100-ef-search-512,11.990057,m-64-ef-512-parallel-100-ef-search-512,13.619137
4859,gist-960-euclidean,1.00,m-32-ef-512-parallel-100-ef-search-512,11.990057,m-64-ef-512-parallel-100-ef-search-512,16.451944
4873,gist-960-euclidean,1.00,m-64-ef-256-parallel-100-ef-search-256,79.367943,m-32-ef-512-parallel-100-ef-search-512,13.111441
4875,gist-960-euclidean,1.00,m-64-ef-256-parallel-100-ef-search-256,79.367943,m-64-ef-512-parallel-100-ef-search-512,13.619137
4877,gist-960-euclidean,1.00,m-64-ef-256-parallel-100-ef-search-256,79.367943,m-64-ef-512-parallel-100-ef-search-512,16.451944
4879,gist-960-euclidean,1.00,m-64-ef-512-parallel-100-ef-search-512,79.694217,m-32-ef-512-parallel-100-ef-search-512,13.111441
4881,gist-960-euclidean,1.00,m-64-ef-512-parallel-100-ef-search-512,79.694217,m-64-ef-512-parallel-100-ef-search-512,13.619137
4883,gist-960-euclidean,1.00,m-64-ef-512-parallel-100-ef-search-512,79.694217,m-64-ef-512-parallel-100-ef-search-512,16.451944
4897,gist-960-euclidean,1.00,m-64-ef-256-parallel-100-ef-search-256,8.318999,m-32-ef-512-parallel-100-ef-search-512,13.111441
4899,gist-960-euclidean,1.00,m-64-ef-256-parallel-100-ef-search-256,8.318999,m-64-ef-512-parallel-100-ef-search-512,13.619137
4901,gist-960-euclidean,1.00,m-64-ef-256-parallel-100-ef-search-256,8.318999,m-64-ef-512-parallel-100-ef-search-512,16.451944
4903,gist-960-euclidean,1.00,m-64-ef-512-parallel-100-ef-search-512,12.802223,m-32-ef-512-parallel-100-ef-search-512,13.111441
4905,gist-960-euclidean,1.00,m-64-ef-512-parallel-100-ef-search-512,12.802223,m-64-ef-512-parallel-100-ef-search-512,13.619137
4907,gist-960-euclidean,1.00,m-64-ef-512-parallel-100-ef-search-512,12.802223,m-64-ef-512-parallel-100-ef-search-512,16.451944
4651,gist-960-euclidean,0.99,m-16-ef-512-parallel-100-ef-search-512,7.416244,m-32-ef-512-parallel-100-ef-search-512,10.736340
4653,gist-960-euclidean,0.99,m-16-ef-512-parallel-100-ef-search-512,7.416244,m-32-ef-512-parallel-100-ef-search-512,10.277726
4655,gist-960-euclidean,0.99,m-16-ef-512-parallel-100-ef-search-512,7.416244,m-32-ef-256-parallel-100-ef-search-256,7.413355
4657,gist-960-euclidean,0.99,m-16-ef-512-parallel-100-ef-search-512,7.416244,m-64-ef-256-parallel-100-ef-search-256,9.003764
4659,gist-960-euclidean,0.99,m-16-ef-512-parallel-100-ef-search-512,7.416244,m-64-ef-256-parallel-100-ef-search-256,9.507221
4671,gist-960-euclidean,0.99,m-32-ef-512-parallel-100-ef-search-512,9.095007,m-32-ef-512-parallel-100-ef-search-512,10.736340
4673,gist-960-euclidean,0.99,m-32-ef-512-parallel-100-ef-search-512,9.095007,m-32-ef-512-parallel-100-ef-search-512,10.277726
4675,gist-960-euclidean,0.99,m-32-ef-512-parallel-100-ef-search-512,9.095007,m-32-ef-256-parallel-100-ef-search-256,7.413355
4677,gist-960-euclidean,0.99,m-32-ef-512-parallel-100-ef-search-512,9.095007,m-64-ef-256-parallel-100-ef-search-256,9.003764
4679,gist-960-euclidean,0.99,m-32-ef-512-parallel-100-ef-search-512,9.095007,m-64-ef-256-parallel-100-ef-search-256,9.507221
4691,gist-960-euclidean,0.99,m-32-ef-128-parallel-100-ef-search-128,83.385490,m-32-ef-512-parallel-100-ef-search-512,10.736340
4693,gist-960-euclidean,0.99,m-32-ef-128-parallel-100-ef-search-128,83.385490,m-32-ef-512-parallel-100-ef-search-512,10.277726
4695,gist-960-euclidean,0.99,m-32-ef-128-parallel-100-ef-search-128,83.385490,m-32-ef-256-parallel-100-ef-search-256,7.413355
4697,gist-960-euclidean,0.99,m-32-ef-128-parallel-100-ef-search-128,83.385490,m-64-ef-256-parallel-100-ef-search-256,9.003764
4699,gist-960-euclidean,0.99,m-32-ef-128-parallel-100-ef-search-128,83.385490,m-64-ef-256-parallel-100-ef-search-256,9.507221
4711,gist-960-euclidean,0.99,m-32-ef-256-parallel-100-ef-search-256,7.594702,m-32-ef-512-parallel-100-ef-search-512,10.736340
4713,gist-960-euclidean,0.99,m-32-ef-256-parallel-100-ef-search-256,7.594702,m-32-ef-512-parallel-100-ef-search-512,10.277726
4715,gist-960-euclidean,0.99,m-32-ef-256-parallel-100-ef-search-256,7.594702,m-32-ef-256-parallel-100-ef-search-256,7.413355
4717,gist-960-euclidean,0.99,m-32-ef-256-parallel-100-ef-search-256,7.594702,m-64-ef-256-parallel-100-ef-search-256,9.003764
4719,gist-960-euclidean,0.99,m-32-ef-256-parallel-100-ef-search-256,7.594702,m-64-ef-256-parallel-100-ef-search-256,9.507221
4731,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,78.425999,m-32-ef-512-parallel-100-ef-search-512,10.736340
4733,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,78.425999,m-32-ef-512-parallel-100-ef-search-512,10.277726
4735,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,78.425999,m-32-ef-256-parallel-100-ef-search-256,7.413355
4737,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,78.425999,m-64-ef-256-parallel-100-ef-search-256,9.003764
4739,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,78.425999,m-64-ef-256-parallel-100-ef-search-256,9.507221
4751,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,5.578980,m-32-ef-512-parallel-100-ef-search-512,10.736340
4753,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,5.578980,m-32-ef-512-parallel-100-ef-search-512,10.277726
4755,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,5.578980,m-32-ef-256-parallel-100-ef-search-256,7.413355
4757,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,5.578980,m-64-ef-256-parallel-100-ef-search-256,9.003764
4759,gist-960-euclidean,0.99,m-64-ef-128-parallel-100-ef-search-128,5.578980,m-64-ef-256-parallel-100-ef-search-256,9.507221
4779,gist-960-euclidean,0.98,m-32-ef-256-parallel-100-ef-search-256,5.560345,m-16-ef-512-parallel-100-ef-search-512,7.994969
4781,gist-960-euclidean,0.98,m-32-ef-256-parallel-100-ef-search-256,5.560345,m-32-ef-256-parallel-100-ef-search-256,7.289379
4783,gist-960-euclidean,0.98,m-32-ef-256-parallel-100-ef-search-256,5.560345,m-64-ef-128-parallel-100-ef-search-128,6.380816
4791,gist-960-euclidean,0.98,m-32-ef-128-parallel-100-ef-search-128,4.817638,m-16-ef-512-parallel-100-ef-search-512,7.994969
4793,gist-960-euclidean,0.98,m-32-ef-128-parallel-100-ef-search-128,4.817638,m-32-ef-256-parallel-100-ef-search-256,7.289379
4795,gist-960-euclidean,0.98,m-32-ef-128-parallel-100-ef-search-128,4.817638,m-64-ef-128-parallel-100-ef-search-128,6.380816
4627,gist-960-euclidean,0.97,m-16-ef-256-parallel-100-ef-search-256,4.494933,m-32-ef-256-parallel-100-ef-search-256,6.901620
4629,gist-960-euclidean,0.97,m-16-ef-256-parallel-100-ef-search-256,4.494933,m-32-ef-128-parallel-100-ef-search-128,4.956987
4631,gist-960-euclidean,0.97,m-16-ef-256-parallel-100-ef-search-256,4.494933,m-64-ef-128-parallel-100-ef-search-128,6.105227

**************************************** Search Statistics ****************************************

       mean_precisions_rounded  qdrant_total_time  milvus_total_time
count                60.000000          60.000000          60.000000
mean                  0.991500          34.659761          10.753371
std                   0.007988          35.821368           3.100572
min                   0.970000           4.494933           4.956987
25%                   0.990000           7.416244           8.751565
50%                   0.990000           9.095007          10.277726
75%                   1.000000          79.367943          13.111441
max                   1.000000          83.905027          16.451944

# Filtered search benchmark

In [128]:
selected_datasets = ["h-and-m-2048-angular-no-filters", "h-and-m-2048-angular-filters"]
parallel_search = 100

## Regular Search

## Filter Search